div.main{
	min-height:300px;

}

.panel-heading a{
	color:#fff;

}

div.add_btn_area{
	padding-bottom:20px;
}


table th{
	background-color: #000;
	color:#fff;
}

div.show_image img{
	width: 300px;
}


div.show_video video{
	width: 30px;
}
